{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport content="width=device-width, initial-scale=1.0">
    <title>On air hand doodle system</title>

    <link rel="stylesheet" href="{% static 'styles/style4.css' %}">
<body>

 <section style="background-image: url({% static 'images/background.jpg' %});">
        <div class="form-container">
        <h1><marquee direction="top">ON-AIR HAND DOODLE SYSTEM</marquee></h1>
	<form action="#">
            <div class="control">
           <a href="/login"><input type="button" name="action" value="login"/>
           <a href="/register"><input type="button" name="action" value="Register" />
          </div>
              

</div>
</div>
</body>  
</html>  
